
text{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.control{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
}
.rank-list {
	font-weight: 400;
	cursor: pointer;
}

.heading{
	font-weight: 600;
	font-size: 16px;
}
.subtitle{
	font-weight: 400;
	font-size: 16px;
}
.title{
	font-weight: 600;
	font-size: 36px;
}

.amt {
	font-size: 24px;
}
.heading2 {
	font-size:30px;
}

#country-name {
	font-weight: 600;
	font-size: 32px;
}
#selected-year {
	font-size: 26px;
}
#donor-status{
	font-size: 28px;
	font-weight: 600;
}
#slider-div{
	width:300px;
	float:left;
}
#menu-div{
	float:left;
	margin-left: 20px;
}
select{
	width:200px;
}
