#slider-div{
	width:500px;
}

.selected {
	stroke:gray;
	stroke-width:1;
}

text{
	font-family: 'Karma', sans-serif;
	font-size: 16px;
}

.rank-list {
	font-weight: 400;
	cursor: default;
}

.subtitle{
	font-weight: 700;
}